<form class="mt-8 space-y-2" id="myForm">
    <div>
        <label
            for="default-input"
            class="block mb-2 font-medium text-gray-900 dark:text-white"
            >Email</label
        >
        <input
            type="email"
            name="email"
            id="email"
            placeholder="name@example.com"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />
    </div>

    <div>
        <div class="flex items-center">
            <label
                class="block my-2 font-medium text-gray-900 dark:text-white"
                for="file_input_1">Mummy Photo</label
            >
        </div>

        <input
            required
            class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
            name="file_input_1"
            id="file_input_1"
            type="file"
            accept=".png,.jpg,.heic"
        />
    </div>

    <div>
        <div class="flex items-center">
            <label
                class="block my-2 font-medium text-gray-900 dark:text-white"
                for="file_input_2">Daddy Photo</label
            >
        </div>

        <input
            required
            class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
            name="file_input_2"
            id="file_input_2"
            type="file"
            accept=".png,.jpg,.heic"
        />
    </div>

    <div class="pt-2 flex justify-center">
        <button
            type="submit"
            class="w-full px-5 py-3 text-base font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-primary-300 w-auto dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
        >
            <div class="flex items-center gap-1">
                <svg
                    class="w-6 h-6 text-gray-800 dark:text-white"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor"
                    viewBox="0 0 24 24"
                >
                    <path
                        fill="white"
                        d="M4 4c0-.6.4-1 1-1h1.5c.5 0 .9.3 1 .8L7.9 6H19a1 1 0 0 1 1 1.2l-1.3 6a1 1 0 0 1-1 .8h-8l.2 1H17a3 3 0 1 1-2.8 2h-2.4a3 3 0 1 1-4-1.8L5.7 5H5a1 1 0 0 1-1-1Z"
                        clip-rule="evenodd"></path>
                </svg>

                Submit Order
            </div>
        </button>
    </div>

    <div class="text-center">Safe and secure checkout powered by Stripe.</div>

    <div id="spinner" role="status" style="display: none;">
        <div>File Upload:</div>

        <div class="mb-2 w-96 bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
            <div
                id="progress-bar-1"
                class="bg-blue-600 h-2.5 rounded-full"
                style="width: 0%"
            >
            </div>
        </div>

        <div class="w-96 bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
            <div
                id="progress-bar-2"
                class="bg-blue-600 h-2.5 rounded-full"
                style="width: 0%"
            >
            </div>
        </div>
    </div>
</form>

<script>
    import { upload_file } from "../lib/upload_file";
    import { v4 as uuidv4 } from "uuid";

    document
        .getElementById("myForm")
        ?.addEventListener("submit", (event: Event) => {
            event.preventDefault(); // Prevent form from submitting normally
            document.getElementById("spinner").style.display = "block";

            const file_1 = (
                document.getElementById("file_input_1") as HTMLInputElement
            ).files[0];
            const file_2 = (
                document.getElementById("file_input_2") as HTMLInputElement
            ).files[0];
            const progressBar_1 = document.getElementById("progress-bar-1");
            const progressBar_2 = document.getElementById("progress-bar-2");
            const email = (document.getElementById("email") as HTMLInputElement)
                .value;

            const uuid = uuidv4();

            const uploadTask_1 = upload_file(
                `jobs/${uuid}/${file_1.name}`,
                file_1,
                progressBar_1,
            );
            const uploadTask_2 = upload_file(
                `jobs/${uuid}/${file_2.name}`,
                file_2,
                progressBar_2,
            );

            Promise.all([uploadTask_1, uploadTask_2])
                .then(async () => {
                    console.log("Both uploads are done");
                    // Do something after both files are uploaded

                    const formData = {
                        uuid,
                        filePath_1: file_1.name,
                        filePath_2: file_2.name,
                        timestamp: new Date(),
                        email,
                    };

                    // Send form data to API endpoint
                    await fetch("/api/new_job", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify(formData),
                    });

                    //window.location.assign(`/payment/${email}/${uuid}`);
                })
                .catch((error) => {
                    console.error("One or more uploads failed", error);
                });
        });
</script>
